################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AZURE_gitapp/.vs/AZURE_gitapp/FileContentIndex
